{% extends 'theme.html'%}
    
{% block content %}

    <h1>Employee Information</h1>
    <table border="1">
    <tr>
        <td>1</td>
        <td>Gaurav Metkar</td>
        <td>9370803167</td>
        <td>gaurav@gmail.com</td>
        <td>gaurav56</td>
        <td>30000</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Saurav Devkar</td>
        <td>9370803467</td>
        <td>saurav56@gmail.com</td>
        <td>saurav546</td>
         <td>50000</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Ganesh Deshmukh</td>
        <td>9374803167</td>
        <td>ganesh78@gmail.com</td>
        <td>ganesh78</td>
         <td>40000</td>
    </tr>
     <tr>
         <td>4</td>
         <td>Shubham chaudhary</td>
         <td>937068567</td>
         <td>shubham@gmail.com</td>
         <td>shubham56</td>
         <td>100000</td>
     </tr>
      <tr>
          <td>5</td>
          <td>jayesh Shinde</td>
          <td>9300803167</td>
          <td>Jayesh@gmail.com</td>
          <td>Jayesh56</td>
          <td>40000</td>
      </tr>
       <tr>
           <td>6</td>
           <td>Vaibhav Gavade</td>
           <td>9980987867</td>
           <td>vaibhav@gmail.com</td>
           <td>vaibhav546</td>
           <td>30000</td>
       </tr>
    </table>
    
    
{% endblock %}

